@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {

  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: rgb(70, 55, 2);
  font-weight:bold;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 3;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
    padding: 0;
    margin: 0;
    margin-left: 0px;
      text-align: center;
      max-width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 20px 20px;
        border-bottom: 1px solid #b0afaf;
        margin-bottom: 60px;
        max-width: 100%;
      }
      .navbar-options{
        display: flex;
        flex-direction: row;
      }
      .nav-span{
        padding: 20px;
      }
      .heading {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 50px;
        padding: 0 20px;
      }
      
      .heading p {
        color: #828282;
      }
      .form,
.content {
  width: 40%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}
.form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }
  .btn-block {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn svg {
    margin-right: 8px;
  }
  .btn:hover {
    transform: scale(0.98);
  }
  
  .btn {
    padding: 10px 20px;
    border: 1px solid rgb(45, 44, 44);
    border-radius: 5px;
    background: rgb(66, 65, 65);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  .event-upcoming{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 padding-left: 60px;
  }